# STROKE PREDICTION_DATASET
## Here in this notebook we will be implementing the feature generation concept in feature engineering

![](download.jpg)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df=pd.read_csv('stroke prediction.csv')

In [5]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

### AGE

In [9]:
bins=[0,12,19,30,60,90]
groups=['Child','Teenager','Young_Adult','Middle_Aged','Senior_Citien']
df['age_category']=pd.cut(df['age'],bins,labels=groups)

*Here we have created bins wherein we have divided out continuos data into categorical data*

In [10]:
df[['age','age_category']].head()

    age   age_category
0   3.0          Child
1  58.0    Middle_Aged
2   8.0          Child
3  70.0  Senior_Citien
4  14.0       Teenager

###  BINNING USING DECISION TREE SPLIT

![](dtree.png)

In [11]:
bins=[0,49.5,66.5,77.5,90]
group=['bin1','bin2','bin3','bin4']
df['age_category']=pd.cut(df['age'],bins,labels=group)

In [12]:
df[['age_category','age']].head()

  age_category   age
0         bin1   3.0
1         bin2  58.0
2         bin1   8.0
3         bin3  70.0
4         bin1  14.0

*So in this way also we can create bins and generate new features from our exsisting features*

In [15]:
df['avg_glucose_level'].describe()

count    43400.000000
mean       104.482750
std         43.111751
min         55.000000
25%         77.540000
50%         91.580000
75%        112.070000
max        291.050000
Name: avg_glucose_level, dtype: float64

### AVG_GLUCOSE_LEVEL

In [16]:
bins=[55,100,150,200,291]
group=['low','average','slightly_high','very_high']
df['glucose_level_category']=pd.cut(df['avg_glucose_level'],bins,labels=group)

In [17]:
df[['glucose_level_category','avg_glucose_level']].head()

  glucose_level_category  avg_glucose_level
0                    low              95.12
1                    low              87.96
2                average             110.89
3                    low              69.04
4          slightly_high             161.28

### BMI

In [18]:
df['bmi'].describe()

count    41938.000000
mean        28.605038
std          7.770020
min         10.100000
25%         23.200000
50%         27.700000
75%         32.900000
max         97.600000
Name: bmi, dtype: float64

In [20]:
bins=[10,30,60,97]
group=['underweight','fit','obese']
df['bmi_category']=pd.cut(df['bmi'],bins,labels=group)

In [21]:
df[['bmi_category','bmi']].head()

  bmi_category   bmi
0  underweight  18.0
1          fit  39.2
2  underweight  17.6
3          fit  35.9
4  underweight  19.1

*So in this way,we can generate more information from the given features*