# BIGMART_SALES DATASET
## Here in this notebook,we will try and scale our continuos variables so that they can be used in distance based learning algorithms like KNN etc.

![](download.png)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('train_bm.csv')

In [3]:
data=df[['Item_Visibility','Item_MRP']]
data.head()

   Item_Visibility  Item_MRP
0         0.016047  249.8092
1         0.019278   48.2692
2         0.016760  141.6180
3         0.000000  182.0950
4         0.000000   53.8614

*As we can see,there is a huge difference between the values .We should try and scale these values *

## Min-Max Scaler

![](capture.png)

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [6]:
scaled_data=scaler.fit_transform(data)
scaled_data=pd.DataFrame(scaled_data,columns=['Item_Visibility','Item_MRP'])
scaled_data.head()

   Item_Visibility  Item_MRP
0         0.048866  0.927507
1         0.058705  0.072068
2         0.051037  0.468288
3         0.000000  0.640093
4         0.000000  0.095805

In [7]:
scaled_data.describe()

       Item_Visibility     Item_MRP
count      8523.000000  8523.000000
mean          0.201382     0.465635
std           0.157123     0.264327
min           0.000000     0.000000
25%           0.082187     0.265437
50%           0.164228     0.474209
75%           0.288026     0.655156
max           1.000000     1.000000

*Here we can see that our data values are all between 0 and 1 and so the Min-Max Scaler has executed successfully*

## Standard Scaler

*This function Standardize features by removing the mean and scaling to unit variance*
![](Capture1.png)

In [8]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [9]:
scaled_data=scaler.fit_transform(data)
scaled_data=pd.DataFrame(scaled_data,columns=['Item_Visibility','Item_MRP'])
scaled_data.head()

   Item_Visibility  Item_MRP
0        -0.970732  1.747454
1        -0.908111 -1.489023
2        -0.956917  0.010040
3        -1.281758  0.660050
4        -1.281758 -1.399220

In [10]:
scaled_data.describe()

       Item_Visibility      Item_MRP
count     8.523000e+03  8.523000e+03
mean      1.822365e-16 -1.637654e-16
std       1.000059e+00  1.000059e+00
min      -1.281758e+00 -1.761688e+00
25%      -7.586531e-01 -7.574307e-01
50%      -2.364792e-01  3.243893e-02
75%       5.514755e-01  7.170372e-01
max       5.083050e+00  2.021724e+00

*Intresting to note here that in both the cases,the mean is close to 0 and the standard deviation is close to 1*

*So our standard scaler also executes successfully *