In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
df=pd.read_csv('data_cleaned.csv')

In [13]:
df.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [14]:
x=df.drop(['Survived'],axis=1)#all independent features
y=df['Survived']#target variable

In [15]:
#creating validation and test_set

In [23]:
from sklearn.model_selection import train_test_split
train1_x,test_x,train1_y,test_y=train_test_split(x,y,test_size=0.2,random_state=42,stratify=y)

In [24]:

train_x,val_x,train_y,val_y=train_test_split(train1_x,train1_y,test_size=0.2,random_state=42,stratify=train1_y)

In [25]:
print('Training Data',train_x.shape,train_y.shape)
print('Validation Data',val_x.shape,val_y.shape)
print('Testing Data',test_x.shape,test_y.shape)

Training Data (569, 24) (569,)
Validation Data (143, 24) (143,)
Testing Data (179, 24) (179,)

In [26]:
#checking distribution of target class in train,test,validation data sets
train_y.value_counts()/len(train_y)*100

0    61.68717
1    38.31283
Name: Survived, dtype: float64

In [27]:
val_y.value_counts()/len(val_y)*100

0    61.538462
1    38.461538
Name: Survived, dtype: float64

In [29]:
test_y.value_counts()/len(test_y)*100

0    61.452514
1    38.547486
Name: Survived, dtype: float64

***As we used the stratified hold out validation process, the distribution of classes in each of the datasets is same***