# NO2 Prediction Dataset

![](1download.jpg)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('No2 dataset.csv')

In [3]:
df.head()

             Date_Time  NO2(GT)
0  10/03/2004 18.00.00      166
1  10/03/2004 19.00.00     1174
2  10/03/2004 20.00.00      131
3  10/03/2004 21.00.00      172
4  10/03/2004 22.00.00      131

In [4]:
df.dtypes

Date_Time    object
NO2(GT)       int64
dtype: object

*Here the Date_Time feature is treated as a object . We will convert it into date_time*

In [17]:
df.shape

(4737, 2)

In [5]:
df['Date_Time']=pd.to_datetime(df['Date_Time'],format= '%d/%m/%Y %H.%M.%S')
df.dtypes

Date_Time    datetime64[ns]
NO2(GT)               int64
dtype: object

**The format depends on your data. Here are some examples**
1. 1/12/2001: %d/%m/%Y
2. 2001/12/1: %Y/%m/%d
3. 2001-12-01: %Y-%m-%d
4. 2001-12-01 09:00 %Y-%m-%d %H:%M

In [6]:
df['Date_Time'].max(),df['Date_Time'].min()

(Timestamp('2004-09-24 02:00:00'), Timestamp('2004-03-10 18:00:00'))

**EXTRACT HOUR AND MINUTE**

In [7]:
df['Date_Time'].dt.hour.head()

0    18
1    19
2    20
3    21
4    22
Name: Date_Time, dtype: int64

In [8]:
df['Date_Time'].dt.minute.head()

0    0
1    0
2    0
3    0
4    0
Name: Date_Time, dtype: int64

## The day of week-Monday(0) to Sunday(6)

In [9]:
df['Date_Time'].dt.dayofweek.head(7)

0    2
1    2
2    2
3    2
4    2
5    2
6    3
Name: Date_Time, dtype: int64

In [10]:
df['Date_Time'].dt.weekday_name.head(7)

0    Wednesday
1    Wednesday
2    Wednesday
3    Wednesday
4    Wednesday
5    Wednesday
6     Thursday
Name: Date_Time, dtype: object

In [11]:
df['Date_Time'].dt.month.head(7)

0    3
1    3
2    3
3    3
4    3
5    3
6    3
Name: Date_Time, dtype: int64

In [12]:
df['Date_Time'].dt.is_month_end.head(7)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
Name: Date_Time, dtype: bool

In [13]:
new_df=pd.DataFrame({'year':df['Date_Time'].dt.year,'month':df['Date_Time'].dt.month,'day':df['Date_Time'].dt.day,'hour':df['Date_Time'].dt.hour,'dayofyear':df['Date_Time'].dt.dayofyear,'week':df['Date_Time'].dt.week,'dayofweek':df['Date_Time'].dt.dayofweek,'dayofweekname':df['Date_Time'].dt.weekday_name})
new_df.head()

   year  month  day  hour  dayofyear  week  dayofweek dayofweekname
0  2004      3   10    18         70    11          2     Wednesday
1  2004      3   10    19         70    11          2     Wednesday
2  2004      3   10    20         70    11          2     Wednesday
3  2004      3   10    21         70    11          2     Wednesday
4  2004      3   10    22         70    11          2     Wednesday

In [14]:
complete_data=pd.concat([df,new_df],axis=1)
complete_data.head()

,Date_Time,NO2(GT),year,month,day,hour,dayofyear,week,dayofweek,dayofweekname
0,2004-03-10 18:00:00,166,2004,3,10,18,70,11,2,Wednesday
1,2004-03-10 19:00:00,1174,2004,3,10,19,70,11,2,Wednesday
2,2004-03-10 20:00:00,131,2004,3,10,20,70,11,2,Wednesday
3,2004-03-10 21:00:00,172,2004,3,10,21,70,11,2,Wednesday
4,2004-03-10 22:00:00,131,2004,3,10,22,70,11,2,Wednesday

In [15]:
complete_data['is_weekday']=0 

for i in range(0, len(complete_data)):
    if ((complete_data['dayofweek'][i] == 5) | (complete_data['dayofweek'][i] == 6)):
        complete_data['is_weekday'][i] = 0
    else: 
        complete_data['is_weekday'][i] = 1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [16]:
complete_data[['is_weekday','dayofweek']].head(10)

   is_weekday  dayofweek
0           1          2
1           1          2
2           1          2
3           1          2
4           1          2
5           1          2
6           1          3
7           1          3
8           1          3
9           1          3

*is_weekday=1 i.e it is **weekday**.*