**In this notebook,we will be working with the titanic survival dataset and try to implement Random Forest Algorithm**

![](download.jpg)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('data_cleaned.csv')
df.shape

(891, 25)

In [3]:
df.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

*Segregating the dependent and independent variables*

In [4]:
x=df.drop(['Survived'],axis=1)
y=df['Survived']

*Dividing into training and testing data*

In [5]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,random_state=42,stratify=y)

*Ensuring that the target feature is same in the training and testing datasets*

In [6]:
train_y.value_counts()/len(train_y)

0    0.616766
1    0.383234
Name: Survived, dtype: float64

In [7]:
test_y.value_counts()/len(test_y)

0    0.61435
1    0.38565
Name: Survived, dtype: float64

*Checking the accuracy with Decision trees without changing hyperparamters*

In [8]:
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()

In [13]:
dtree.fit(train_x,train_y)
dtree.score(train_x,train_y)
print('Trainig Accuracy is', dtree.score(train_x,train_y))

Trainig Accuracy is 0.9820359281437125

In [14]:
print('Testing  Accuracy is', dtree.score(test_x,test_y))

Testing  Accuracy is 0.7130044843049327

 *Importing Random Forest*

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=100,max_depth=15)

In [27]:
rf.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=15, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [28]:
print('Training Score',rf.score(train_x,train_y))

Training Score 0.9775449101796407

In [29]:
print('Testing Score',rf.score(test_x,test_y))

Testing Score 0.7802690582959642

In [19]:
rf.feature_importances_

array([2.70794191e-01, 2.18454532e-01, 3.97004133e-02, 2.50023957e-02,
       4.33988850e-02, 1.45401342e-01, 1.14518612e-01, 1.57851168e-02,
       1.66454227e-02, 6.80078066e-03, 5.57982568e-03, 6.73408531e-03,
       0.00000000e+00, 7.58663994e-04, 2.63647233e-02, 1.48200848e-02,
       7.68202436e-03, 1.46701782e-03, 1.95672254e-03, 4.07532146e-03,
       4.41743124e-05, 1.27103156e-02, 4.74639548e-03, 1.65589537e-02])

In [21]:
FI=pd.DataFrame({'Feature_Importance':rf.feature_importances_,'Columns':train_x.columns})
FI

    Feature_Importance     Columns
0             0.270794         Age
1             0.218455        Fare
2             0.039700    Pclass_1
3             0.025002    Pclass_2
4             0.043399    Pclass_3
5             0.145401  Sex_female
6             0.114519    Sex_male
7             0.015785     SibSp_0
8             0.016645     SibSp_1
9             0.006801     SibSp_2
10            0.005580     SibSp_3
11            0.006734     SibSp_4
12            0.000000     SibSp_5
13            0.000759     SibSp_8
14            0.026365     Parch_0
15            0.014820     Parch_1
16            0.007682     Parch_2
17            0.001467     Parch_3
18            0.001957     Parch_4
19            0.004075     Parch_5
20            0.000044     Parch_6
21            0.012710  Embarked_C
22            0.004746  Embarked_Q
23            0.016559  Embarked_S

*Using the feature_importances_ from random forest,we can find the imprtance of each feature and then work with them*